<H1><span style="color:lightblue">Filtering data</H1></span>
While generating the <a>product_prices_renamed.csv</a> file the following processing errors occurred and they need to be found:<br><br>
- In the **date** column, data from 1888 appeared - '1888-0',<br>
- Check the **date** column for similar errors but with future values.<br>
- In the **value** column, too high value was introduced – find it and locate the row where it is (use `query`),<br>
- There was a spelling error in the **product_types** column for one of the products. Find it and the corresponding rows. How many such rows are there?<br>

You do not need to assign the results to the variable: it is enough if you display them.

> Based on the solution of this task, we will later correct all errors in the data.

Hints:

Subsection 2:
1. There is only one such value.
2. Use `loc` or `query` with the condition `date > '2020-1'`.

Subsection 3:
1. There is only one such value.
1. Do the following:
a) use `describe()`, to view percentiles,
b) use `loc` or `query` to find erroneous entries,

Subsection 4:

You can do it in the following way:
a) use `unique()` method to find all available values,
b) use `loc` or `query` to find erroneous entries,
c) The number of rows can be checked with the `shape` method.

In [114]:
import os

current_directory = './../01_Data'

files = os.listdir(current_directory)

print("Files and Directories:", files) # možnosť nájsť cestu

Files and Directories: ['province_product_price_stats.csv', '.DS_Store', 'no_errors.csv', 'product_prices_cleaned.csv', 'dims.xlsx', 'product_prices_renamed.csv', 'product_prices.xlsx', 'no_duplicates.csv', 'product_prices_cleaned.csv.zip', 'avg_monthly_prices.csv', 'product_prices.csv', 'price_volatility.csv', 'config.xlsx', 'raw']

In [ ]:
data.query("Name == 'SUBCARPATHIA'") # všetko nájde v stĺpci hodnotu "SUBCARPATHIA" a načíta všetky hodnoty v riadkoch

data.loc[data["Name"] == "SUBCARPATHIA"] # najšetrnejší pre rýchlosť a pamäť

data[data["Name"] == "SUBCARPATHIA"] # isin miesto == a v hranatých zátvorkách list

# syntax == rovná, != nerovná , <=, >=, <, >      and & or | not ~ isin - je niečo v niečom s odpoveďou True/False

In [9]:
import pandas as pd
data = pd.read_csv(
                    '/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/01_Data/product_prices_renamed.csv', # path to the file with data (if we want to enter the name: filepath_or_buffer)
                    sep=';',  # column separator
                    decimal='.'  # sign separating the whole and fractional parts of a number
)

data.loc[data["date"] == "1888-0"]

,province,product_types,currency,product_group_id,product_line,value,date
11908,LUBUSZ,NaN,PLN,2,fresh non-dressed carp - per 1kg,8.17,1888-0
14765,SILESIA,NaN,PLN,2,fresh non-dressed carp - per 1kg,0.00,1888-0
16125,WARMIA-MASURIA,NaN,PLN,2,fresh non-dressed carp - per 1kg,8.03,1888-0
18737,LOWER SILESIA,NaN,PLN,2,fresh non-dressed carp - per 1kg,0.00,1888-0
20293,HOLY CROSS,NaN,PLN,2,fresh non-dressed carp - per 1kg,7.94,1888-0
33038,OPOLE,NaN,PLN,2,fresh non-dressed carp - per 1kg,0.00,1888-0
50542,LESSER POLAND,NaN,PLN,2,fresh non-dressed carp - per 1kg,0.00,1888-0
51536,GREATER POLAND,NaN,PLN,2,fresh non-dressed carp - per 1kg,7.77,1888-0
85091,PODLASKIE,NaN,PLN,2,fresh non-dressed carp - per 1kg,0.00,1888-0
95997,POMERANIA,NaN,PLN,2,fresh non-dressed carp - per 1kg,8.13,1888-0
100513,SUBCARPATHIA,NaN,PLN,2,fresh non-dressed carp - per 1kg,0.00,1888-0
110578,POLAND,NaN,PLN,2,fresh non-dressed carp - per 1kg,7.65,1888-0
111306,KUYAVIA-POMERANIA,NaN,PLN,2,fresh non-dressed carp - per 1kg,6.87,1888-0
123125,LUBLIN,NaN,PLN,2,fresh non-dressed carp - per 1kg,6.84,1888-0
137245,MASOVIA,NaN,PLN,2,fresh non-dressed carp - per 1kg,0.00,1888-0
144334,WEST POMERANIA,NaN,PLN,2,fresh non-dressed carp - per 1kg,7.48,1888-0
147385,ŁÓDŹ,NaN,PLN,2,fresh non-dressed carp - per 1kg,0.00,1888-0

In [20]:
import pandas as pd
data = pd.read_csv(
                    '/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/01_Data/product_prices_renamed.csv', # path to the file with data (if we want to enter the name: filepath_or_buffer)
                    sep=';',  # column separator
                    decimal='.'  # sign separating the whole and fractional parts of a number
)

data.query("date == '1888-0'")

,province,product_types,currency,product_group_id,product_line,value,date
11908,LUBUSZ,NaN,PLN,2,fresh non-dressed carp - per 1kg,8.17,1888-0
14765,SILESIA,NaN,PLN,2,fresh non-dressed carp - per 1kg,0.00,1888-0
16125,WARMIA-MASURIA,NaN,PLN,2,fresh non-dressed carp - per 1kg,8.03,1888-0
18737,LOWER SILESIA,NaN,PLN,2,fresh non-dressed carp - per 1kg,0.00,1888-0
20293,HOLY CROSS,NaN,PLN,2,fresh non-dressed carp - per 1kg,7.94,1888-0
33038,OPOLE,NaN,PLN,2,fresh non-dressed carp - per 1kg,0.00,1888-0
50542,LESSER POLAND,NaN,PLN,2,fresh non-dressed carp - per 1kg,0.00,1888-0
51536,GREATER POLAND,NaN,PLN,2,fresh non-dressed carp - per 1kg,7.77,1888-0
85091,PODLASKIE,NaN,PLN,2,fresh non-dressed carp - per 1kg,0.00,1888-0
95997,POMERANIA,NaN,PLN,2,fresh non-dressed carp - per 1kg,8.13,1888-0
100513,SUBCARPATHIA,NaN,PLN,2,fresh non-dressed carp - per 1kg,0.00,1888-0
110578,POLAND,NaN,PLN,2,fresh non-dressed carp - per 1kg,7.65,1888-0
111306,KUYAVIA-POMERANIA,NaN,PLN,2,fresh non-dressed carp - per 1kg,6.87,1888-0
123125,LUBLIN,NaN,PLN,2,fresh non-dressed carp - per 1kg,6.84,1888-0
137245,MASOVIA,NaN,PLN,2,fresh non-dressed carp - per 1kg,0.00,1888-0
144334,WEST POMERANIA,NaN,PLN,2,fresh non-dressed carp - per 1kg,7.48,1888-0
147385,ŁÓDŹ,NaN,PLN,2,fresh non-dressed carp - per 1kg,0.00,1888-0

In [54]:
import pandas as pd
data = pd.read_csv(
                    '/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/01_Data/product_prices_renamed.csv', # path to the file with data (if we want to enter the name: filepath_or_buffer)
                    sep=';',  # column separator
                    decimal='.'  # sign separating the whole and fractional parts of a number
)

data.loc[data["date"] > "2020-1"]

,province,product_types,currency,product_group_id,product_line,value,date
1583,HOLY CROSS,NaN,PLN,2,haddock fillets frozen - per 1kg,0.00,2099-13
35525,PODLASKIE,NaN,PLN,2,haddock fillets frozen - per 1kg,0.00,2099-13
43258,SILESIA,NaN,PLN,2,haddock fillets frozen - per 1kg,20.96,2099-13
52595,LUBUSZ,NaN,PLN,2,haddock fillets frozen - per 1kg,0.00,2099-13
56032,GREATER POLAND,NaN,PLN,2,haddock fillets frozen - per 1kg,18.92,2099-13
72048,OPOLE,NaN,PLN,2,haddock fillets frozen - per 1kg,0.00,2099-13
73532,ŁÓDŹ,NaN,PLN,2,haddock fillets frozen - per 1kg,0.00,2099-13
84515,LUBLIN,NaN,PLN,2,haddock fillets frozen - per 1kg,16.15,2099-13
86619,POMERANIA,NaN,PLN,2,haddock fillets frozen - per 1kg,16.22,2099-13
98839,WEST POMERANIA,NaN,PLN,2,haddock fillets frozen - per 1kg,0.00,2099-13
102878,MASOVIA,NaN,PLN,2,haddock fillets frozen - per 1kg,0.00,2099-13
109773,KUYAVIA-POMERANIA,NaN,PLN,2,haddock fillets frozen - per 1kg,16.70,2099-13
127052,LESSER POLAND,NaN,PLN,2,haddock fillets frozen - per 1kg,0.00,2099-13
129910,POLAND,NaN,PLN,2,haddock fillets frozen - per 1kg,16.76,2099-13
135566,WARMIA-MASURIA,NaN,PLN,2,haddock fillets frozen - per 1kg,19.23,2099-13
135910,LOWER SILESIA,NaN,PLN,2,haddock fillets frozen - per 1kg,0.00,2099-13
148646,SUBCARPATHIA,NaN,PLN,2,haddock fillets frozen - per 1kg,0.00,2099-13

In [56]:
import pandas as pd
data = pd.read_csv(
                    '/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/01_Data/product_prices_renamed.csv', # path to the file with data (if we want to enter the name: filepath_or_buffer)
                    sep=';',  # column separator
                    decimal='.'  # sign separating the whole and fractional parts of a number
)

data.query("date > '2020-1'")

,province,product_types,currency,product_group_id,product_line,value,date
1583,HOLY CROSS,NaN,PLN,2,haddock fillets frozen - per 1kg,0.00,2099-13
35525,PODLASKIE,NaN,PLN,2,haddock fillets frozen - per 1kg,0.00,2099-13
43258,SILESIA,NaN,PLN,2,haddock fillets frozen - per 1kg,20.96,2099-13
52595,LUBUSZ,NaN,PLN,2,haddock fillets frozen - per 1kg,0.00,2099-13
56032,GREATER POLAND,NaN,PLN,2,haddock fillets frozen - per 1kg,18.92,2099-13
72048,OPOLE,NaN,PLN,2,haddock fillets frozen - per 1kg,0.00,2099-13
73532,ŁÓDŹ,NaN,PLN,2,haddock fillets frozen - per 1kg,0.00,2099-13
84515,LUBLIN,NaN,PLN,2,haddock fillets frozen - per 1kg,16.15,2099-13
86619,POMERANIA,NaN,PLN,2,haddock fillets frozen - per 1kg,16.22,2099-13
98839,WEST POMERANIA,NaN,PLN,2,haddock fillets frozen - per 1kg,0.00,2099-13
102878,MASOVIA,NaN,PLN,2,haddock fillets frozen - per 1kg,0.00,2099-13
109773,KUYAVIA-POMERANIA,NaN,PLN,2,haddock fillets frozen - per 1kg,16.70,2099-13
127052,LESSER POLAND,NaN,PLN,2,haddock fillets frozen - per 1kg,0.00,2099-13
129910,POLAND,NaN,PLN,2,haddock fillets frozen - per 1kg,16.76,2099-13
135566,WARMIA-MASURIA,NaN,PLN,2,haddock fillets frozen - per 1kg,19.23,2099-13
135910,LOWER SILESIA,NaN,PLN,2,haddock fillets frozen - per 1kg,0.00,2099-13
148646,SUBCARPATHIA,NaN,PLN,2,haddock fillets frozen - per 1kg,0.00,2099-13

In [46]:
import pandas as pd
data = pd.read_csv(
                    '/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/01_Data/product_prices_renamed.csv', # path to the file with data (if we want to enter the name: filepath_or_buffer)
                    sep=';',  # column separator
                    decimal='.'  # sign separating the whole and fractional parts of a number
)
max_value = data["value"].max()

max_value_data = data.query("value == @max_value")

print(max_value_data)

                 province                     product_types currency  \
13724           POMERANIA  30% tomato concentrate - per 1kg      PLN
18768       LOWER SILESIA  30% tomato concentrate - per 1kg      PLN
22321      WEST POMERANIA  30% tomato concentrate - per 1kg      PLN
31268        SUBCARPATHIA  30% tomato concentrate - per 1kg      PLN
36958       LESSER POLAND  30% tomato concentrate - per 1kg      PLN
62346      GREATER POLAND  30% tomato concentrate - per 1kg      PLN
70851             MASOVIA  30% tomato concentrate - per 1kg      PLN
79924   KUYAVIA-POMERANIA  30% tomato concentrate - per 1kg      PLN
91306                ŁÓDŹ  30% tomato concentrate - per 1kg      PLN
96597               OPOLE  30% tomato concentrate - per 1kg      PLN
104235             POLAND  30% tomato concentrate - per 1kg      PLN
122007             LUBUSZ  30% tomato concentrate - per 1kg      PLN
130871         HOLY CROSS  30% tomato concentrate - per 1kg      PLN
135863     WARMIA-MASURIA  30% tomato concentrate - per 1kg      PLN
143420          PODLASKIE  30% tomato concentrate - per 1kg      PLN
143997            SILESIA  30% tomato concentrate - per 1kg      PLN
146383             LUBLIN  30% tomato concentrate - per 1kg      PLN

        product_group_id product_line   value    date
13724                  1          NaN  3000.0  2003-1
18768                  1          NaN  3000.0  2003-1
22321                  1          NaN  3000.0  2003-1
31268                  1          NaN  3000.0  2003-1
36958                  1          NaN  3000.0  2003-1
62346                  1          NaN  3000.0  2003-1
70851                  1          NaN  3000.0  2003-1
79924                  1          NaN  3000.0  2003-1
91306                  1          NaN  3000.0  2003-1
96597                  1          NaN  3000.0  2003-1
104235                 1          NaN  3000.0  2003-1
122007                 1          NaN  3000.0  2003-1
130871                 1          NaN  3000.0  2003-1
135863                 1          NaN  3000.0  2003-1
143420                 1          NaN  3000.0  2003-1
143997                 1          NaN  3000.0  2003-1
146383                 1          NaN  3000.0  2003-1

In [74]:
import pandas as pd
data = pd.read_csv(
                    '/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/01_Data/product_prices_renamed.csv', # path to the file with data (if we want to enter the name: filepath_or_buffer)
                    sep=';',  # column separator
                    decimal='.'  # sign separating the whole and fractional parts of a number
)
max_value = data["value"].max()

max_value_data = data.loc[data["value"] == "max_value"]

print(max_value_data)

Empty DataFrame
Columns: [province, product_types, currency, product_group_id, product_line, value, date]
Index: []

In [98]:
import pandas as pd
data = pd.read_csv(
                    '/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/01_Data/product_prices_renamed.csv', # path to the file with data (if we want to enter the name: filepath_or_buffer)
                    sep=';',  # column separator
                    decimal='.'  # sign separating the whole and fractional parts of a number
)
# Use describe() to get summary statistics, including percentiles
description = data["value"].describe(percentiles=[1.0])

# Print the summary statistics including percentiles
print(description)

# Define a threshold for too high values
# For example, using the 90th percentile as a threshold
threshold = description["100%"]

# Find rows where 'value' is greater than the threshold
high_value_data = data.loc[data["value"] > threshold]

# Display the rows with high values
print("Rows with too high values:")
print(high_value_data)

count    137088.000000
mean          6.615227
std          34.112858
min           0.000000
50%           3.090000
100%       3000.000000
max        3000.000000
Name: value, dtype: float64
Rows with too high values:
Empty DataFrame
Columns: [province, product_types, currency, product_group_id, product_line, value, date]
Index: []

In [75]:
import pandas as pd
data = pd.read_csv(
                    '/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/01_Data/product_prices_renamed.csv', # path to the file with data (if we want to enter the name: filepath_or_buffer)
                    sep=';',  # column separator
                    decimal='.'  # sign separating the whole and fractional parts of a number
)

data["product_types"].unique()

array([nan, 'whole pickled cucumbers 0.9l - per 1pc.',
       'fresh chichen egges - per 666pcs.',
       '30% tomato concentrate - per 1kg',
       'frozen carrot and pea mix - per 1kg',
       'beet sugar white, bagged - per 1kg',
       'apple juice, boxed - per 1l', 'white table salt bagged - per 1kg',
       'natural chocolate plain - per 1kg'], dtype=object)

In [58]:
import pandas as pd
data = pd.read_csv(
                    '/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/01_Data/product_prices_renamed.csv', # path to the file with data (if we want to enter the name: filepath_or_buffer)
                    sep=';',  # column separator
                    decimal='.'  # sign separating the whole and fractional parts of a number
)

data["product_types"].unique()

array([nan, 'whole pickled cucumbers 0.9l - per 1pc.',
       'fresh chichen egges - per 666pcs.',
       '30% tomato concentrate - per 1kg',
       'frozen carrot and pea mix - per 1kg',
       'beet sugar white, bagged - per 1kg',
       'apple juice, boxed - per 1l', 'white table salt bagged - per 1kg',
       'natural chocolate plain - per 1kg'], dtype=object)

In [94]:
import pandas as pd
data = pd.read_csv(
                    '/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/01_Data/product_prices_renamed.csv', # path to the file with data (if we want to enter the name: filepath_or_buffer)
                    sep=';',  # column separator
                    decimal='.'  # sign separating the whole and fractional parts of a number
)

data.query("product_types == 'fresh chichen egges - per 666pcs.'")

,province,product_types,currency,product_group_id,product_line,value,date
6,WEST POMERANIA,fresh chichen egges - per 666pcs.,PLN,3,NaN,0.00,2004-12
13,POLAND,fresh chichen egges - per 666pcs.,PLN,3,NaN,0.27,2009-8
38,WARMIA-MASURIA,fresh chichen egges - per 666pcs.,PLN,3,NaN,0.00,2003-12
202,GREATER POLAND,fresh chichen egges - per 666pcs.,PLN,3,NaN,0.32,2018-8
229,WARMIA-MASURIA,fresh chichen egges - per 666pcs.,PLN,3,NaN,0.00,2013-1
...,...,...,...,...,...,...,...
149691,POMERANIA,fresh chichen egges - per 666pcs.,PLN,3,NaN,0.00,2019-3
149718,LUBUSZ,fresh chichen egges - per 666pcs.,PLN,3,NaN,0.00,2009-1
149724,OPOLE,fresh chichen egges - per 666pcs.,PLN,3,NaN,0.25,2011-12
149767,WARMIA-MASURIA,fresh chichen egges - per 666pcs.,PLN,3,NaN,0.00,2001-3
149838,SUBCARPATHIA,fresh chichen egges - per 666pcs.,PLN,3,NaN,0.26,2019-4

In [96]:
import pandas as pd
data = pd.read_csv(
                    '/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/01_Data/product_prices_renamed.csv', # path to the file with data (if we want to enter the name: filepath_or_buffer)
                    sep=';',  # column separator
                    decimal='.'  # sign separating the whole and fractional parts of a number
)

data.loc[data["product_types"] == "fresh chichen egges - per 666pcs."]

,province,product_types,currency,product_group_id,product_line,value,date
6,WEST POMERANIA,fresh chichen egges - per 666pcs.,PLN,3,NaN,0.00,2004-12
13,POLAND,fresh chichen egges - per 666pcs.,PLN,3,NaN,0.27,2009-8
38,WARMIA-MASURIA,fresh chichen egges - per 666pcs.,PLN,3,NaN,0.00,2003-12
202,GREATER POLAND,fresh chichen egges - per 666pcs.,PLN,3,NaN,0.32,2018-8
229,WARMIA-MASURIA,fresh chichen egges - per 666pcs.,PLN,3,NaN,0.00,2013-1
...,...,...,...,...,...,...,...
149691,POMERANIA,fresh chichen egges - per 666pcs.,PLN,3,NaN,0.00,2019-3
149718,LUBUSZ,fresh chichen egges - per 666pcs.,PLN,3,NaN,0.00,2009-1
149724,OPOLE,fresh chichen egges - per 666pcs.,PLN,3,NaN,0.25,2011-12
149767,WARMIA-MASURIA,fresh chichen egges - per 666pcs.,PLN,3,NaN,0.00,2001-3
149838,SUBCARPATHIA,fresh chichen egges - per 666pcs.,PLN,3,NaN,0.26,2019-4

In [108]:
import pandas as pd
data = pd.read_csv(
                    '/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/01_Data/product_prices_renamed.csv', # path to the file with data (if we want to enter the name: filepath_or_buffer)
                    sep=';',  # column separator
                    decimal='.'  # sign separating the whole and fractional parts of a number
)

data.loc[data["product_types"] == "fresh chichen egges - per 666pcs.", "product_types"] = "fresh chicken eggs - per 666pcs."

data["product_types"].unique()

array([nan, 'whole pickled cucumbers 0.9l - per 1pc.',
       'fresh chicken eggs - per 666pcs.',
       '30% tomato concentrate - per 1kg',
       'frozen carrot and pea mix - per 1kg',
       'beet sugar white, bagged - per 1kg',
       'apple juice, boxed - per 1l', 'white table salt bagged - per 1kg',
       'natural chocolate plain - per 1kg'], dtype=object)