Welcome to the world of python!

In [4]:
print('Hello world!')

Hello world!

In [1]:
print('My name is Jakub.')

My name is Jakub.

In [3]:
2+3

5

In [5]:
10/4

2.5

In [7]:
30*2

60

In [12]:
"Hello World"

'Hello World'

In [15]:
'Hello World'

'Hello World'

In [17]:
2

2

In [19]:
hello

NameError: name 'hello' is not defined

In [31]:
# An integer
integer_variable = 13
# A floating point number
float_variable = 1.23457
# A string
string_variable = 'I am here!'
# A multi-line string
multiline_string_variable = '''I am not leaving so soon!'''
# A boolean value
boolean_variable = False
# Display each variable in the format
print(f"variable {integer_variable} of the {type(integer_variable)} type.")
print(f"variable {float_variable} of the {type(float_variable)} type.")
print(f"variable '{string_variable}' of the {type(string_variable)} type.")
print(f"variable '{multiline_string_variable}' of the {type(multiline_string_variable)} type.")
print(f"variable {boolean_variable} of the {type(boolean_variable)} type.")

variable 13 of the <class 'int'> type.
variable 1.23457 of the <class 'float'> type.
variable 'I am here!' of the <class 'str'> type.
variable 'I am not leaving so soon!' of the <class 'str'> type.
variable False of the <class 'bool'> type.

In [41]:
# Create variables
add1 = 6 #integer
add2 = 3.3 #float
# Calculate the sum of add1 and add2
sum_value = add1 + add2
# Display each variable in the format
print("variable add1:", add1, "of the", type(add1), "type.")
print("variable add2:", add2, "of the", type(add2), "type.")
print("variable sum_value:", sum_value, "of the", type(sum_value), "type.")

variable add1: 6 of the <class 'int'> type.
variable add2: 3.3 of the <class 'float'> type.
variable sum_value: 9.3 of the <class 'float'> type.

In [49]:
# An integer
integer_variable = 13
# A floating point number
float_variable = 1.23457
# A string
string_variable = 'I am here!'
# A multi-line string
multiline_string_variable = '''I am not 
leaving so 
soon!'''
# A boolean value
boolean_variable = True
# Display each variable in the format
print("variable", integer_variable, "of the", type(integer_variable), "type.")
print("variable", float_variable, "of the", type(float_variable), "type.")
print("variable", string_variable, "of the", type(string_variable), "type.")
print("variable", multiline_string_variable, "of the", type(multiline_string_variable), "type.")
print("variable", boolean_variable, "of the", type(boolean_variable), "type.")

variable 13 of the <class 'int'> type.
variable 1.23457 of the <class 'float'> type.
variable I am here! of the <class 'str'> type.
variable I am not
leaving so
soon! of the <class 'str'> type.
variable False of the <class 'bool'> type.

In [53]:
a = 10
b = 15
sum_value = a + b
quotus = b / a
int_part = int(quotus)
print("variable a:", a, "of the", type(a), "type.")
print("variable b:", b, "of the", type(b), "type.")
print("variable sum_value:", sum_value, "of the", type(sum_value), "type.")
print("variable quotus:", quotus, "of the", type(quotus), "type.")
print("variable int_part:", int_part, "of the", type(int_part), "type.")

variable a: 10 of the <class 'int'> type.
variable b: 15 of the <class 'int'> type.
variable sum_value: 25 of the <class 'int'> type.
variable quotus: 1.5 of the <class 'float'> type.
variable int_part: 1 of the <class 'int'> type.

In [61]:
animals = []
print("Empty list:", animals)
animals.append("Unicorn")
print("after Unicorn:", animals)
animals.append("Griffin")
print("after Griffin:", animals)
animals.append("Pegasus")
print("after Pegasus:", animals)

Empty list: []
after Unicorn: ['Unicorn']
after Griffin: ['Unicorn', 'Griffin']
after Pegasus: ['Unicorn', 'Griffin', 'Pegasus']

In [63]:
words = ['is', 'wrong', 'dough', 'correspondence', 'Python', 'snake', 'tolerate', 'conflict',
'chase', 'begin', 'fun','confidence', 'beat']
print("Fifth array element:", words[4])
print("First array element:", words[0])
print("Third array element from the end:", words[-3])

Fifth array element: Python
First array element: is
Third array element from the end: fun

In [67]:
name = "Jakub"
surname = "Pawlas"
print(name, surname, "is a Python programmer!")

Jakub Pawlas is a Python programmer!

In [1]:
user_name = input("What is your name? ")

What is your name?  Jakub

In [3]:
user_surname = input("What is your surname? ")

What is your surname?  Dobosova

In [5]:
print(user_name + " " + user_surname + " is a Python programmer!")

Jakub Dobosova is a Python programmer!

In [7]:
user_name = input("What is your name? ")
user_surname = input("What is your surname? ")
print(user_name + " " + user_surname + " is a Python programmer!")

What is your name?  Jakub
What is your surname?  Dobosova

Jakub Dobosova is a Python programmer!

In [11]:
letters = ["a", "b", "c", "d", "e"]
result = " ".join(letters)
print(result)

a b c d e

In [15]:
no1 = 19
no2 = 6
modulo_result = no1 % no2
print("The modulo result is", modulo_result)

The modulo result is 1

In [21]:
counter = 145
print(counter)
counter += 1
print(counter)
counter -= 1
print(counter)

145
146
145

In [23]:
print(10==16)

False

In [25]:
result = 10<16
print(result)

True

In [27]:
no1 = 19
no2 = 6
result = no1<no2
print(result)

False

In [29]:
father = 1974
child = 2007
difference = child - father
print(f"The father is {difference} years older than the child.")

The father is 33 years older than the child.

In [31]:
result = 11/7
rounded_result = round(result, 2)
print(f"11:7={rounded_result}")

11:7=1.57

In [35]:
user_name = input("Enter your name: ")
user_birthyear = input("Enter you birth year: ")
user_birthyear = int(user_birthyear)
current_year = 2024
age = current_year - user_birthyear
print(f"User: {user_name} is {age} years old.")

Enter your name:  Jakub
Enter you birth year:  1984

User: Jakub is 40 years old.

In [41]:
counter = 0
while counter < 10:
    print("I'm a Pyth0n pro0gramm3r!")
    counter += 1

I'm a Pyth0n pro0gramm3r!
I'm a Pyth0n pro0gramm3r!
I'm a Pyth0n pro0gramm3r!
I'm a Pyth0n pro0gramm3r!
I'm a Pyth0n pro0gramm3r!
I'm a Pyth0n pro0gramm3r!
I'm a Pyth0n pro0gramm3r!
I'm a Pyth0n pro0gramm3r!
I'm a Pyth0n pro0gramm3r!
I'm a Pyth0n pro0gramm3r!

In [43]:
for exponent in range(11):
    result = 2 ** exponent
    print(f"2^{exponent} = {result}")

2^0 = 1
2^1 = 2
2^2 = 4
2^3 = 8
2^4 = 16
2^5 = 32
2^6 = 64
2^7 = 128
2^8 = 256
2^9 = 512
2^10 = 1024

In [47]:
first_name = input("Enter your first name: ")
second_name = input("Enter your second name: ")
if first_name == second_name:
    print("The same")
else:
    print("Different")

Enter your first name:  Jakub
Enter your second name:  None

Different

In [49]:
a = input("Enter number: ")
b = input("Enter diffeerent number: ")
a = float(a)
b = float(b)
if a > b:
    print("a is greater!")
elif a < b:
    print("b is greater!")
else:
    print("Both numbers are equal!")

Enter number:  1
Enter diffeerent number:  2

b is greater!

In [7]:
print("The equation: a*x**2 + b*x + c == 0")
a = float(input("Enter the coefficient a: "))
b = float(input("Enter the coefficient b: "))
c = float(input("Enter the coefficient c: "))
delta = b**2 - 4*a*c
if delta > 0:
    x1 = (-b + math.sqrt(delta)) / (2 * a)
    x2 = (-b - math.sqrt(delta)) / (2 * a)
    print("Roots of quadratic equation")
    print(f"x_1 = {x1}")
    print(f"x_2 = {x2}")
elif delta == 0:
    x1 = x2 = -b / (2 * a)
    print("Roots of quadratic equation")
    print(f"x_1 = x_2 = {x1}")
else:
    print("The quadratic equation has no real roots.")

The equation: a*x**2 + b*x + c == 0

Enter the coefficient a:  9
Enter the coefficient b:  -5
Enter the coefficient c:  2

The quadratic equation has no real roots.

In [11]:
n = int(input("Enter a natural number n: "))
total_sum = 0
for i in range(n + 1):
    total_sum += i
print(total_sum)

Enter a natural number n:  27902872

389285146875628

In [13]:
n = int(input("Enter a natural number n: "))
total_sum = sum(range(n + 1))
print(total_sum)

Enter a natural number n:  0398739

79496594430

In [15]:
numbers = [5, 6, 7, 12, 13, 39]
total_sum = sum(numbers)
average = total_sum / len(numbers)
print(f"Entered numbers: {numbers}")
print(f"Sum: {total_sum},")
print(f"Average: {average:.2f}")
if total_sum > average:
    print("The sum is greater!")
elif total_sum < average:
    print("The average is greater!")
else:
    print("The sum and the average are equal!")

Entered numbers: [5, 6, 7, 12, 13, 39]
Sum: 82,
Average: 13.67
The sum is greater!

In [17]:
animal_1 = "cat"
animal_2 = "dog"
comparison = animal_1 < animal_2
print(f"Is '{animal_1}' < '{animal_2}'? {comparison}")

Is 'cat' < 'dog'? True

In [19]:
even_numbers = list(range(2, 100, 2))
for number in even_numbers:
    print(f"Number: {number}")

Number: 2
Number: 4
Number: 6
Number: 8
Number: 10
Number: 12
Number: 14
Number: 16
Number: 18
Number: 20
Number: 22
Number: 24
Number: 26
Number: 28
Number: 30
Number: 32
Number: 34
Number: 36
Number: 38
Number: 40
Number: 42
Number: 44
Number: 46
Number: 48
Number: 50
Number: 52
Number: 54
Number: 56
Number: 58
Number: 60
Number: 62
Number: 64
Number: 66
Number: 68
Number: 70
Number: 72
Number: 74
Number: 76
Number: 78
Number: 80
Number: 82
Number: 84
Number: 86
Number: 88
Number: 90
Number: 92
Number: 94
Number: 96
Number: 98

In [23]:
n = int(input("Give a number: "))
if 1 <= n <= 10:
    print(f"Multiplication for {n}:")
    for i in range(1, 11):
        result = n * i
        print(f"{n} x {i} = {result}")

Give a number:  2

Multiplication for 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [29]:
for number in range(1, 101):
    if number % 3 == 0 and number % 5 == 0:
        print ("FizzBuzz")
    elif number % 3 == 0:
        print ("Fizz")
    elif number % 5 == 0:
        print ("Buzz")
    else:
        print(number)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [14]:
import openpyxl
workbook = openpyxl.load_workbook('demo.xlsx')
sheet = workbook.active
cell_values = [
    sheet['A1'].value,  # Become
    sheet['B3'].value,  # by
    sheet['C1'].value,  # learning
    sheet['A2'].value,  # data
    sheet['C2'].value,  # analysis
    sheet['B4'].value,  # an expert in
    sheet['A3'].value   # Python!
]
print(f"{cell_values[0]} {cell_values[1]} {cell_values[2]}")
print(f"{cell_values[3]} {cell_values[4]} {cell_values[5]}")
print(f"{cell_values[6]}")

Become by learning
data analysis an expert in
Python!

In [18]:
fuel_consumption = {
    'Citroen': {
        'Berlingo': {
            'petrol_engine': 8.25,
            'diesel_engine': 5.75,
        },
        'C3': {
            'petrol_engine': 7.0,
            'diesel_engine': 5.0,
        },
    },
}

total_petrol_consumption = 0
total_diesel_consumption = 0
petrol_count = 0
diesel_count = 0

for model, engines in fuel_consumption['Citroen'].items():
    if 'petrol_engine' in engines:
        total_petrol_consumption += engines['petrol_engine']
        petrol_count += 1
    if 'diesel_engine' in engines:
        total_diesel_consumption += engines['diesel_engine']
        diesel_count += 1

average_petrol_consumption = total_petrol_consumption / petrol_count if petrol_count > 0 else 0
average_diesel_consumption = total_diesel_consumption / diesel_count if diesel_count > 0 else 0

print(f"Average fuel consumption for petrol engines: {average_petrol_consumption:.2f} liters/100km")
print(f"Average fuel consumption for diesel engines: {average_diesel_consumption:.2f} liters/100km")

Average fuel consumption for petrol engines: 7.62 liters/100km
Average fuel consumption for diesel engines: 5.38 liters/100km