In [1]:
!pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
!pip show pandas

Name: pandas
Version: 2.2.2
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author:
Author-email: The Pandas Development Team <pandas-dev@python.org>
License: BSD 3-Clause License

Copyright (c) 2008-2011, AQR Capital Management, LLC, Lambda Foundry, Inc. and PyData Development Team
All rights reserved.

Copyright (c) 2011-2023, Open source contributors.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

* Redistributions of source code must retain the above copyright notice, this
  list of conditions and the following disclaimer.

* Redistributions in binary form must reproduce the above copyright notice,
  this list of conditions and the following disclaimer in the documentation
  and/or other materials provided with the distribution.

* Neither the name of the copyright holder nor the names of its
  contributors may be used to endorse or promote products derived from
  this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
Location: /opt/anaconda3/lib/python3.12/site-packages
Requires: numpy, python-dateutil, pytz, tzdata
Required-by: altair, bokeh, dask-expr, datashader, holoviews, hvplot, panel, seaborn, statsmodels, streamlit, xarray

In [3]:
!pip install openpyxl==3.1.5

Requirement already satisfied: openpyxl==3.1.5 in /opt/anaconda3/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /opt/anaconda3/lib/python3.12/site-packages (from openpyxl==3.1.5) (1.1.0)

In [5]:
import pandas as pd
df_raw = pd.read_csv(
                    '/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/product_prices.csv', # path to the file with data (if we want to enter the name: filepath_or_buffer)
                    sep=';',  # column separator
                    decimal=','  # sign separating the whole and fractional parts of a number
)

df_raw.head() # display the first few rows and check if the data actually got loaded (the function itself will be discussed later)

,Name,Goods types,Measurement unit,Group ID,Product types,Value,Date
0,SUBCARPATHIA,NaN,PLN,2,pork ham cooked - per 1kg,21.37,2013-3
1,ŁÓDŹ,NaN,PLN,4,bread - per 1kg,NaN,2018-2
2,KUYAVIA-POMERANIA,NaN,PLN,2,barley groats sausage - per 1kg,3.55,2019-12
3,LOWER SILESIA,NaN,PLN,2,dressed chickens - per 1kg,6.14,2019-2
4,WARMIA-MASURIA,NaN,PLN,2,Italian head cheese - per 1kg,5.63,2002-3

In [10]:
import pandas as pd
df_raw = pd.read_excel(
                        r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/product_prices.xlsx', # path to the file with data (if we want to enter the name: io=r'..\01_Data\product_prices.xlsx')
                        sheet_name='product_prices' # the name of the sheet holding the data we want to process
)

df_raw.head() # display the first few rows and check if the data actually got loaded (the function itself will be discussed later)

,Name,Goods types,Measurement unit,Group ID,Product types,Value,Date,Unnamed: 7
0,SUBCARPATHIA,NaN,PLN,2,pork ham cooked - per 1kg,21.37,2013-3,NaN
1,ŁÓDŹ,NaN,PLN,4,bread - per 1kg,NaN,2018-2,NaN
2,KUYAVIA-POMERANIA,NaN,PLN,2,barley groats sausage - per 1kg,3.55,2019-12,NaN
3,LOWER SILESIA,NaN,PLN,2,dressed chickens - per 1kg,6.14,2019-2,NaN
4,WARMIA-MASURIA,NaN,PLN,2,Italian head cheese - per 1kg,5.63,2002-3,NaN

In [20]:
import pandas as pd # library import

df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/product_prices.csv',  # path to data file
    sep=';',  # column separator
    decimal=','  # character separating the whole and fractional parts of a number
)

In [18]:
import pandas as pd # library import

df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/product_prices.csv',  # path to data file
    sep=';',  # column separator
    decimal=','  # character separating the whole and fractional parts of a number
)
df_raw.shape

(149940, 7)

In [22]:
import pandas as pd # library import

df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/product_prices.csv',  # path to data file
    sep=';',  # column separator
    decimal=','  # character separating the whole and fractional parts of a number
)
df_raw.shape[0]

149940

In [24]:
import pandas as pd # library import

df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/product_prices.csv',  # path to data file
    sep=';',  # column separator
    decimal=','  # character separating the whole and fractional parts of a number
)
df_raw.shape[1]

7

In [26]:
import pandas as pd # library import

df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/product_prices.csv',  # path to data file
    sep=';',  # column separator
    decimal=','  # character separating the whole and fractional parts of a number
)
df_raw.head(5) # displays the first 5 rows of the table

,Name,Goods types,Measurement unit,Group ID,Product types,Value,Date
0,SUBCARPATHIA,NaN,PLN,2,pork ham cooked - per 1kg,21.37,2013-3
1,ŁÓDŹ,NaN,PLN,4,bread - per 1kg,NaN,2018-2
2,KUYAVIA-POMERANIA,NaN,PLN,2,barley groats sausage - per 1kg,3.55,2019-12
3,LOWER SILESIA,NaN,PLN,2,dressed chickens - per 1kg,6.14,2019-2
4,WARMIA-MASURIA,NaN,PLN,2,Italian head cheese - per 1kg,5.63,2002-3

In [28]:
import pandas as pd # library import

df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/product_prices.csv',  # path to data file
    sep=';',  # column separator
    decimal=','  # character separating the whole and fractional parts of a number
)
df_raw.tail(10)

,Name,Goods types,Measurement unit,Group ID,Product types,Value,Date
149930,WARMIA-MASURIA,NaN,PLN,4,"Poznan wheat flour, bagged - per 1kg",0.99,2010-10
149931,POMERANIA,NaN,PLN,2,pork belly cooked - per 1kg,14.48,1999-10
149932,MASOVIA,NaN,PLN,2,"salted herring, non-dressed - per 1kg",0.0,2001-3
149933,SILESIA,NaN,PLN,2,smoked bacon with ribs - per 1kg,15.95,2015-9
149934,SILESIA,NaN,PLN,2,barley groats sausage - per 1kg,4.5,2004-8
149935,KUYAVIA-POMERANIA,NaN,PLN,2,pork meat (raw bacon) - per 1kg,12.15,2016-11
149936,ŁÓDŹ,"beet sugar white, bagged - per 1kg",PLN,3,NaN,0.0,2012-5
149937,LESSER POLAND,NaN,PLN,4,plain mixed bread (wheat-rye) - per 1kg,3.05,2008-6
149938,WARMIA-MASURIA,NaN,PLN,2,boneless beef (sirloin) - per 1kg,11.87,2000-11
149939,MASOVIA,NaN,PLN,4,Masurian barley groats - per 1kg,0.16,2005-10

In [30]:
import pandas as pd # library import

df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/product_prices.csv',  # path to data file
    sep=';',  # column separator
    decimal=','  # character separating the whole and fractional parts of a number
)
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149940 entries, 0 to 149939
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Name              149940 non-null  object
 1   Goods types       34272 non-null   object
 2   Measurement unit  149940 non-null  object
 3   Group ID          149940 non-null  int64
 4   Product types     115668 non-null  object
 5   Value             137088 non-null  object
 6   Date              149940 non-null  object
dtypes: int64(1), object(6)
memory usage: 8.0+ MB

In [32]:
import pandas as pd # library import

df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/product_prices.csv',  # path to data file
    sep=';',  # column separator
    decimal=','  # character separating the whole and fractional parts of a number
)
df_raw.columns

Index(['Name', 'Goods types', 'Measurement unit', 'Group ID', 'Product types',
       'Value', 'Date'],
      dtype='object')

In [34]:
import pandas as pd # library import

df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/product_prices.csv',  # path to data file
    sep=';',  # column separator
    decimal=','  # character separating the whole and fractional parts of a number
)
df_raw['Name']  # displays only the 'Name' column from the DataFrame'

0              SUBCARPATHIA
1                      ŁÓDŹ
2         KUYAVIA-POMERANIA
3             LOWER SILESIA
4            WARMIA-MASURIA
                ...
149935    KUYAVIA-POMERANIA
149936                 ŁÓDŹ
149937        LESSER POLAND
149938       WARMIA-MASURIA
149939              MASOVIA
Name: Name, Length: 149940, dtype: object

In [36]:
import pandas as pd # library import

df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/product_prices.csv',  # path to data file
    sep=';',  # column separator
    decimal=','  # character separating the whole and fractional parts of a number
)
df_raw.loc[:, 'Value']

0         21.37
1           NaN
2          3.55
3          6.14
4          5.63
          ...
149935    12.15
149936      0.0
149937     3.05
149938    11.87
149939     0.16
Name: Value, Length: 149940, dtype: object

In [42]:
import pandas as pd # library import

df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/product_prices.csv',  # path to data file
    sep=';',  # column separator
    decimal=','  # character separating the whole and fractional parts of a number
)
col = df_raw['Value'].head() # we pull the Value column out of the frame - it will be useful for presenting sub-stat operations
type(col) # we check that the column type is actually series

pandas.core.series.Series

In [44]:
import pandas as pd # library import

df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/product_prices.csv',  # path to data file
    sep=';',  # column separator
    decimal=','  # character separating the whole and fractional parts of a number
)
col # display the contents of Series

0    21.37
1      NaN
2     3.55
3     6.14
4     5.63
Name: Value, dtype: object

In [174]:
import pandas as pd
df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/product_prices.csv',  # path to data file
    sep=';',  # column separator
    decimal=','  # character separating the whole and fractional parts of a number
)

df_raw['Value'] = df_raw['Value'].astype(float)

# had to change because of the incorrect data type in data set
df_raw['Value'] = df_raw['Value'] + 1  # Col + 1

print(df_raw.head())

                Name Goods types Measurement unit  Group ID  \
0       SUBCARPATHIA         NaN              PLN         2
1               ŁÓDŹ         NaN              PLN         4
2  KUYAVIA-POMERANIA         NaN              PLN         2
3      LOWER SILESIA         NaN              PLN         2
4     WARMIA-MASURIA         NaN              PLN         2

                     Product types  Value     Date
0        pork ham cooked - per 1kg  22.37   2013-3
1                  bread - per 1kg    NaN   2018-2
2  barley groats sausage - per 1kg   4.55  2019-12
3       dressed chickens - per 1kg   7.14   2019-2
4    Italian head cheese - per 1kg   6.63   2002-3

In [ ]:
import pandas as pd
df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/01_Data/product_prices.csv',  # path to data file
    sep=';',  # column separator
    decimal='.'  # character separating the whole and fractional parts of a number
)
col = df_raw['Value'].head()

col + 1

In [188]:
import pandas as pd
df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/product_prices.csv',  # path to data file
    sep=';',  # column separator
    decimal=','  # character separating the whole and fractional parts of a number
)

df_raw['Value'] = df_raw['Value'].astype(float)

# had to change because of the incorrect data type in data set
df_raw['Value'] = df_raw['Value'] - 5  # Col -5

print(df_raw.head())

                Name Goods types Measurement unit  Group ID  \
0       SUBCARPATHIA         NaN              PLN         2
1               ŁÓDŹ         NaN              PLN         4
2  KUYAVIA-POMERANIA         NaN              PLN         2
3      LOWER SILESIA         NaN              PLN         2
4     WARMIA-MASURIA         NaN              PLN         2

                     Product types  Value     Date
0        pork ham cooked - per 1kg  16.37   2013-3
1                  bread - per 1kg    NaN   2018-2
2  barley groats sausage - per 1kg  -1.45  2019-12
3       dressed chickens - per 1kg   1.14   2019-2
4    Italian head cheese - per 1kg   0.63   2002-3

In [178]:
import pandas as pd # library import

df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/product_prices.csv',  # path to data file
    sep=';',  # column separator
    decimal=','  # character separating the whole and fractional parts of a number
)

df_raw['Value'] = df_raw['Value'].astype(float)

# had to change because of the incorrect data type in data set
df_raw['Value'] = df_raw['Value'] * 2.5  # Col * 2.5

print(df_raw.head())

                Name Goods types Measurement unit  Group ID  \
0       SUBCARPATHIA         NaN              PLN         2
1               ŁÓDŹ         NaN              PLN         4
2  KUYAVIA-POMERANIA         NaN              PLN         2
3      LOWER SILESIA         NaN              PLN         2
4     WARMIA-MASURIA         NaN              PLN         2

                     Product types   Value     Date
0        pork ham cooked - per 1kg  53.425   2013-3
1                  bread - per 1kg     NaN   2018-2
2  barley groats sausage - per 1kg   8.875  2019-12
3       dressed chickens - per 1kg  15.350   2019-2
4    Italian head cheese - per 1kg  14.075   2002-3

In [180]:
import pandas as pd # library import

df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/product_prices.csv',  # path to data file
    sep=';',  # column separator
    decimal=','  # character separating the whole and fractional parts of a number
)

df_raw['Value'] = df_raw['Value'].astype(float)

# had to change because of the incorrect data type in data set
df_raw['Value'] = df_raw['Value'] / 2.5  # Col / 2.5

print(df_raw.head())

                Name Goods types Measurement unit  Group ID  \
0       SUBCARPATHIA         NaN              PLN         2
1               ŁÓDŹ         NaN              PLN         4
2  KUYAVIA-POMERANIA         NaN              PLN         2
3      LOWER SILESIA         NaN              PLN         2
4     WARMIA-MASURIA         NaN              PLN         2

                     Product types  Value     Date
0        pork ham cooked - per 1kg  8.548   2013-3
1                  bread - per 1kg    NaN   2018-2
2  barley groats sausage - per 1kg  1.420  2019-12
3       dressed chickens - per 1kg  2.456   2019-2
4    Italian head cheese - per 1kg  2.252   2002-3

In [182]:
import pandas as pd # library import

df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/product_prices.csv',  # path to data file
    sep=';',  # column separator
    decimal=','  # character separating the whole and fractional parts of a number
)

df_raw['Value'] = df_raw['Value'].astype(float)

# had to change because of the incorrect data type in data set
df_raw['Value'] = df_raw['Value'] + df_raw['Value']  # Col + Col - other way of multiplication

print(df_raw.head())

                Name Goods types Measurement unit  Group ID  \
0       SUBCARPATHIA         NaN              PLN         2
1               ŁÓDŹ         NaN              PLN         4
2  KUYAVIA-POMERANIA         NaN              PLN         2
3      LOWER SILESIA         NaN              PLN         2
4     WARMIA-MASURIA         NaN              PLN         2

                     Product types  Value     Date
0        pork ham cooked - per 1kg  42.74   2013-3
1                  bread - per 1kg    NaN   2018-2
2  barley groats sausage - per 1kg   7.10  2019-12
3       dressed chickens - per 1kg  12.28   2019-2
4    Italian head cheese - per 1kg  11.26   2002-3

In [54]:
import pandas as pd # library import

df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/product_prices.csv',  # path to data file
    sep=';',  # column separator
    decimal=','  # character separating the whole and fractional parts of a number
)
col_example = pd.Series(
    range(len(col))
)
col_example # we check that what has been created looks as expected

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [192]:
import pandas as pd # library import

df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/product_prices.csv',  # path to data file
    sep=';',  # column separator
    decimal=','  # character separating the whole and fractional parts of a number
)
col_example = pd.Series(
    range(len(col))
)

df_raw['Value'] = df_raw['Value'].astype(float)

df_raw['Value'] = df_raw['Value'] + col_example

print(df_raw.head())

                Name Goods types Measurement unit  Group ID  \
0       SUBCARPATHIA         NaN              PLN         2
1               ŁÓDŹ         NaN              PLN         4
2  KUYAVIA-POMERANIA         NaN              PLN         2
3      LOWER SILESIA         NaN              PLN         2
4     WARMIA-MASURIA         NaN              PLN         2

                     Product types  Value     Date
0        pork ham cooked - per 1kg  21.37   2013-3
1                  bread - per 1kg    NaN   2018-2
2  barley groats sausage - per 1kg   5.55  2019-12
3       dressed chickens - per 1kg   9.14   2019-2
4    Italian head cheese - per 1kg   9.63   2002-3

In [60]:
import pandas as pd # library import

df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/product_prices.csv',  # path to data file
    sep=';',  # column separator
    decimal=','  # character separating the whole and fractional parts of a number
)
# we create a series that has one less row to force a NaN to be created at the next operation
col_example2 = pd.Series(
    range(len(col)-1)
)
col_example2  # checking Series generation

0    0
1    1
2    2
3    3
dtype: int64

In [194]:
import pandas as pd # library import

df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/product_prices.csv',  # path to data file
    sep=';',  # column separator
    decimal=','  # character separating the whole and fractional parts of a number
)
# we create a series that has one less row to force a NaN to be created at the next operation
col_example2 = pd.Series(
    range(len(col)-1)
)

df_raw['Value'] = df_raw['Value'].astype(float)

df_raw['Value'] = df_raw['Value'] + col_example2

print(df_raw.head())

                Name Goods types Measurement unit  Group ID  \
0       SUBCARPATHIA         NaN              PLN         2
1               ŁÓDŹ         NaN              PLN         4
2  KUYAVIA-POMERANIA         NaN              PLN         2
3      LOWER SILESIA         NaN              PLN         2
4     WARMIA-MASURIA         NaN              PLN         2

                     Product types  Value     Date
0        pork ham cooked - per 1kg  21.37   2013-3
1                  bread - per 1kg    NaN   2018-2
2  barley groats sausage - per 1kg   5.55  2019-12
3       dressed chickens - per 1kg   9.14   2019-2
4    Italian head cheese - per 1kg    NaN   2002-3

In [66]:
import pandas as pd # library import

df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/product_prices.csv',  # path to data file
    sep=';',  # column separator
    decimal=','  # character separating the whole and fractional parts of a number
)
# we create a series that has one less row to force a NaN to be created at the next operation
col_example2 = pd.Series(
    range(len(col)-1)
)
df_raw['Name'].unique()

array(['SUBCARPATHIA', 'ŁÓDŹ', 'KUYAVIA-POMERANIA', 'LOWER SILESIA',
       'WARMIA-MASURIA', 'HOLY CROSS', 'WEST POMERANIA', 'POLAND',
       'PODLASKIE', 'GREATER POLAND', 'POMERANIA', 'LESSER POLAND',
       'SILESIA', 'MASOVIA', 'LUBLIN', 'LUBUSZ', 'OPOLE'], dtype=object)

In [90]:
import pandas as pd # library import

df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/raw/preserves.csv',  # path to data file
    sep=';',  # column separator
    decimal=','  # character separating the whole and fractional parts of a number
)
df_raw['Value'].mean() # determine the average price for the pickups

2.1737464985994395

In [92]:
import pandas as pd # library import

df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/raw/preserves.csv',  # path to data file
    sep=';',  # column separator
    decimal=','  # character separating the whole and fractional parts of a number
)
df_raw['Value'].std()

2.783597750653647

In [94]:
import pandas as pd # library import

df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/raw/preserves.csv',  # path to data file
    sep=';',  # column separator
    decimal=','  # character separating the whole and fractional parts of a number
)
df_raw['Value'].median()

1.775

In [96]:
import pandas as pd # library import

df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/raw/preserves.csv',  # path to data file
    sep=';',  # column separator
    decimal=','  # character separating the whole and fractional parts of a number
)
# We determine percentile 0, 10%, 50% (median), 75% and 100% (max)
df_raw['Value'].quantile([0, 0.1, 0.5, 0.75, 1])

0.00     0.000
0.10     0.000
0.50     1.775
0.75     3.130
1.00    15.590
Name: Value, dtype: float64

In [98]:
import pandas as pd # library import

df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/raw/preserves.csv',  # path to data file
    sep=';',  # column separator
    decimal=','  # character separating the whole and fractional parts of a number
)
df_raw['Value'].describe()

count    1428.000000
mean        2.173746
std         2.783598
min         0.000000
25%         0.000000
50%         1.775000
75%         3.130000
max        15.590000
Name: Value, dtype: float64

In [72]:
# here we have an example of data with mean = 0
data1 = pd.Series([-1, 0, 1])
data2 = pd.Series([-10, -90, 0, 0, 100])


print("Data 1 mean: {}; std: {}".format(
    data1.mean(),
    data1.std()
))

print("Data 2 mean: {}; std: {}".format(
    data2.mean(),
    data2.std()
))

Data 1 mean: 0.0; std: 1.0
Data 2 mean: 0.0; std: 67.45368781616021

In [164]:
import pandas as pd

df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/product_prices.csv',  # path to data file
    sep=';',
    decimal=','
)

df_raw.columns = ['province', 'product_types', 'currency', 'group_id', 'product_line', 'value', 'date']

df_raw['value'] = df_raw['value'].astype(float)

df_raw['value'].mean()

6.615226740294512

In [158]:
import pandas as pd

df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/product_prices.csv',  # path to data file
    sep=';',
    decimal=','
)

df_raw.columns = ['province', 'product_types', 'currency', 'group_id', 'product_line', 'value', 'date']

df_raw['value'] = df_raw['value'].astype(float)

df_raw['value'].std()

34.112858158207565

In [160]:
import pandas as pd

df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/product_prices.csv',  # path to data file
    sep=';',
    decimal=','
)

df_raw.columns = ['province', 'product_types', 'currency', 'group_id', 'product_line', 'value', 'date']

df_raw['value'] = df_raw['value'].astype(float)

df_raw['value'].quantile([0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0])

0.0       0.00
0.1       0.00
0.2       0.00
0.3       0.28
0.4       1.55
0.5       3.09
0.6       5.75
0.7       9.16
0.8      12.73
0.9      17.19
1.0    3000.00
Name: value, dtype: float64

In [162]:
import pandas as pd

df_raw = pd.read_csv(
    r'/Users/jeladobos/Documents/Learning/Data Analyst/5th session/Prework/Session_3_-_exercise_files/01_Data/product_prices.csv',  # path to data file
    sep=';',
    decimal=','
)

df_raw.columns = ['province', 'product_types', 'currency', 'group_id', 'product_line', 'value', 'date']

df_raw['value'] = df_raw['value'].astype(float)

df_raw['value'].describe()

count    137088.000000
mean          6.615227
std          34.112858
min           0.000000
25%           0.000000
50%           3.090000
75%          10.920000
max        3000.000000
Name: value, dtype: float64